*{margin: 0;padding: 0;
font-family: "Montserrat", Sans-serif;}

    

.icon-what{
position: fixed;
z-index: 100;
bottom: 30px;
right: 30px;
}
.header-css{ 
    background-color: white;
    width: 100%;
    
}
.logo{ 
   
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(230, 224, 218);
    
}

.contactus{
    position: relative;
    display: flex;
    align-items: center;
    border-left: 1px solid rgb(230, 224, 218);
}
.t{
   
    text-decoration: none;
    height: 100%;
    padding-inline: 10px;
    display: flex;
    align-items:center;
    
}
.p{
    
    color: black;
    text-size-adjust: bold;
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 10px;

}

.contactus :hover{
    
    background-color:#964ca0;
}
.p:hover{
    color: white;
    border-bottom: 3px solid white;
    background-color: rgba(137, 43, 226,0);
}

.list-a{
    display: flex;
    align-items:center;
    padding: 0 25px;
    position: relative;
    
    
}

.padding-list{
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
    
   
    
}
.list-a :hover{
    
    border-bottom: 3px solid black;
    
}

.list-a{
    display: flex;
    align-items:center;
    padding: 0 25px;
    position: relative;
    
    
}


.cat-tree{
    margin-left: 28%;
    background-color: blueviolet;
    height: 80px;
}

.foundimage{
 
     position: relative;
    background-image: url(../img/IMG_3246-2-scaled-1.jpg);
    background-size: 100%;
    height:850px;
    background-repeat: no-repeat;
    background-color:rgba(29, 29, 29, 0.352);
    background-blend-mode: darken;

}
.texto{ 
    position: absolute;
margin-top: 20%;

color: white;
}
.textt{
    font-size: 70px;
} 
.btn-purp{ 
    background-color:#964ca0;
    border: 1px solid#964ca0;
    height:50px ;
    width: 250px;
    margin-top: 5%;
    margin-left: 55%;
    transform: translate(-100%);
    color: white;
}
.cat-tree{
  background-color: white;
}
.text-cat-tree{
    text-align: center;
}
.molen-color{
    color:#964ca0;
}
.btn-conf{
    border: 1px solid#964ca0;
    background-color:#964ca0;
    color: white;
    height: 40px;
    width: 150px ;
    box-shadow: 4px 5px 7px 0 rgba(0,0,0,.5);
    

}
.card-title{
    margin-top: 50px;
    color: #575757;
    font-family: roboto,Sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    
}
.card-hover{
    padding: 15px;
    border-radius: none;
    height: 400px;
}
.card-hover:hover{
    background-color:#964ca0;
    transition: 0.5s;
}
.btn-conf-two{
    border: 1px#964ca0;
    background-color:#964ca0;
    color: white;
    height: 60px;
    width: 400px;
}
.font-size{
 
    font-size: 100px;
}
.border-blueviolet{
    border: 3px solid#964ca0;
    margin-left: 10%;
    margin-right: 10%;
}
.pip{
display: flex;
justify-content: end;
align-items: center;
margin-left: 40%;


}
.div-size{
    width: 1140px;
    display: inline;
    justify-content: center;
}
.btn-sinscrire{
    border: 1px solid#964ca0;
background-color:#964ca0;
color: white;
width: 120px;
height: 45px ;
border-radius: 5px;

}
.border-orange{
    border: 3px solid orangered;
    margin-left:10%;
    margin-right: 10%;
}
.btn-sinscrire-orange{
    border: 1px solid orangered;
    background-color: orangered;
    color: white;
    width: 120px;
    height: 45px ;
    border-radius: 5px;

}
.border-green{
    border: 3px solid green;
    margin-left: 10%;
    margin-right: 10%;

}
.btn-sinscrire-green{
    border: 1px solid green;
    background-color: green;
    color: white;
    width: 120px;
    height: 45px ;
    border-radius: 5px;

}
.border-yellow{
    border: 3px solid yellow;
    margin-left: 10%;
    margin-right: 10%;
}
.btn-sinscrire-yellow{
    border: 1px solid yellow;
    background-color: yellow;
    color: white;
    width: 120px;
    height: 45px ;
    border-radius: 5px;

}
/* les dates css */
.div-size-t{
    position: relative;
    width: 1040px;
    
}
.border-e{
    border-bottom: 3px solid#964ca0;
    width:90%;
    margin-left: 20%;
    
}
.border-e:hover{
    background-color: rgb(228, 227, 224);
    
}
.text-dates{
    display: flex;
    align-items: center;
    justify-content: space-between;
 color: black;
text-decoration: none;
}
.btn-dates{
    border: 2px solid#964ca0;
    width: 160px;
    height: 50px;
}
.btn-purp-t{ 
    background-color:#964ca0;
    border: 1px solid#964ca0;
    height:70px ;
    width: 340px;
    margin-top: 5%;
    margin-left: 80%;
    transform: translate(-100%);
    color: white;
    box-shadow: 4px 15px 10px 0 rgba(0,0,0,.5);
}
/* pret a nous rejoins */
.bg-rejoins{
    background-color:#964ca0;
    height: 300px;
    color: white;
    text-align: center;
}
.btn-rejoins{
    position: relative;
    height: 40px;
    width: 150px;
    color:rgba(137, 43, 226, 0.918) ;
    background-color: azure;
    border: 0px;
    box-shadow: 4px 4px 6px 0 rgba(0,0,0,.5);
}
.titre-rejoins{ 
    position: absolute;
    margin-left: 50%;
    margin-top:100px ;
    transform: translate(-50%);
}
/* carousels */
.carousels{
    margin-left: 250px;
}
/* localization */
.bg-localization{
    background-color:#964ca0;
    height: 500px;
}
.text-localization{
    color: white;
    margin: 30px;
}
div hr{
    width: 90px;
}
/* subscribe */
.btn-sunscribe{
     background-color:#964ca0;
     color: white;
     height: 35px;
     width: 200px;
     border: 0px;
}
input{
  width: 700px;
  height: 35px;
}
/* footer */
footer {
    width: 100%;
    height: 350px;
    background-color: rgba(59, 51, 51, 0.781);
}
.social {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
}
.social .soc a {
    position: relative;
    margin-left: 10px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 600;
}
    a {
        text-decoration: none;
    }
    footer hr{
        width: 100%;
    }
    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
       
    }
    .logo-footer {
        width: 40%;
        margin: 80px auto;
        text-align: center;
    }
   
.fa-brands {
        font-weight: 400;
        font-family: "Font Awesome 6 Brands";
    }
    .fa-linkedin {
        color: white;
    }
    .fa-instagram{
        color: white;
    }
    .fa-twitter{
        color: white;
    }
    .fa-facebook{ color: white;}